mixin hline
  img(src=imagebase + "greybox.png", style="width: 100%; height: 1px;", width="100%", height="1", border="0", data-imagetype="External")
mixin spacer
  div(style="font-size:1px;line-height:10px;") &nbsp;
+hline
+spacer
mixin heading(contents)
  div(style="font-weight:bold;font-size:16px;color:#424242;", color="#424242")= contents
mixin paragraph(contents)
  div(style="color:#727272;font-size:14px;", color="#727272")= contents
mixin darkparagraph(contents)
  div(style="color:#000000;font-size:14px;", color="#000000")= contents
mixin reportlink(linkref, contents)
  a(href=linkref)= contents
br
+darkparagraph('Hi ' + account.name + ",")
br
+paragraph('These surveys are ready to go. What should we do with them?')
br
div(style="font-size:14px;") Take action: #[a(href=portalbase + '/app/surveylog/approvals#action=cancelall&state=' + approvalUIData) Cancel all] | #[a(href=portalbase + '/app/surveylog/approvals#action=approveall&state=' + approvalUIData) Approve all]
br
+paragraph('Or, you can deal with them individually:')
br
table(width="100%")
  tr
    td(style="font-size:14px;font-weight:bold;") Opportunity
    td(style="font-size:14px;font-weight:bold;") Amount
    td(style="font-size:14px;font-weight:bold;") Closed
    td(style="font-size:14px;font-weight:bold;") Action
  each val, index in opps
    tr
      td(style="font-size:14px;")= val.account.Name
      td(style="font-size:14px;")= val.amount
      td(style="font-size:14px;")= val.daysDiff
      td(style="font-size:14px;") #[a(href=portalbase + '/app/surveylog/approvals#action=acton&opp=' + val.id + '&account=' + val.account.Id + '&state=' + approvalUIData) Need action]