br
div(align="center",style="line-height: 28px; font-size: 24px;font-weight:bold;text-align:center;color:#424242;", color="#424242") Your Monthly Update on Win / Loss Analysis
mixin hline
  img(src=imagebase + "greybox.png", style="width: 100%; height: 1px;", width="100%", height="1", border="0", data-imagetype="External")
mixin spacer
  div(style="font-size:1px;line-height:10px;") &nbsp;
+hline
+spacer
mixin heading(contents)
  div(style="font-weight:bold;font-size:16px;color:#424242;", color="#424242")= contents
mixin paragraph(contents)
  div(style="color:#727272;font-size:14px;", color="#727272")= contents
mixin darkparagraph(contents)
  div(style="color:#000000;font-size:14px;", color="#000000")= contents
mixin reportlink(linkref, contents)
  a(href=linkref)= contents
+heading('Win/Loss Analysis')
+spacer

if isRollingCurrentMonth
  +paragraph('Over the last ' + daysInReport + ' days, the #1 reason why you lose deals is "' + reasonsForLoss[0].shortLabel.toLowerCase() + '".')
else
  +paragraph('In ' + monthName + ', the #1 reason why you lose deals is ' + reasonsForLoss[0].shortLabel.toLowerCase() + '.')
+spacer
+spacer
img(src=imagebase + "chrt?hash=" + images.winlossimage, style="width: 100%;")
+spacer
+reportlink('/', 'View Details')
+spacer
+hline
+spacer
+heading('Competition')
+spacer
+paragraph('Your toughest competition is ' + losingDealsTo[0].shortLabel + ' because of ' + losingDealsTo[0].reasons[0].shortLabel.toLowerCase() + '.')
+spacer
+spacer
img(src=imagebase + "chrt?hash=" + images.competition, style="width: 100%;")
+spacer
+paragraph('Top reasons why each competitor beats you:')
+spacer
+spacer
img(src=imagebase + "chrt?hash=" + images.scorestrip, style="width: 100%;")
+spacer
+reportlink('/', 'View Details')
+spacer
+hline
+spacer
+heading('BuyX Score®')
+spacer
+paragraph('Measures overall buying experience on a scale rating of 0 to 100.')
+spacer
+spacer
img(src=imagebase + "chrt?hash=" + images.buyx, style="width: 100%;")
+spacer
+paragraph(changeDesc)
+spacer
+reportlink('/', 'View Details')
+spacer
+hline
+spacer
+heading('The biggest issue in your sales process is ' + salesProcess[0].shortLabel.toLowerCase())
+spacer
+paragraph('Order of priority is based on ranking importance and average rating.')
+spacer
+spacer
img(src=imagebase + "chrt?hash=" + images.salesprocess, style="width: 100%;")
+spacer
+reportlink('/', 'View Details')
+spacer
+hline
+spacer
+heading('Overall Perception')
+spacer
+paragraph('What you\'re doing well:')
+spacer
+paragraph('What you need to do better:')
+spacer
+reportlink('/', 'View Details')
+spacer
+hline
+spacer
if recommend.majorityWillingToReconnect
  +heading('Good news: ' + recommend.willingToReconnect + '% are willing to reconnect')
else
  +heading('Only ' + recommend.willingToReconnect + '% are willing to reconnect')
+spacer
+reportlink('/', 'View Details')
+spacer
+hline
+spacer
+heading('Decision Makers')
+spacer
+paragraph('The most influential decision maker is ' + decisionMakers[0].name + ' (' + decisionMakers[0].count + '). Overall, the influential job titles were:')
+spacer
each maker, index in decisionMakers
  if index > 0
    span , 
  span(color="#00cc00", style="color:#00cc00; font-size:14px; font-weight: bold;") #{maker.name} 
  span(style="font-size:14px;color:#727272;", color="#727272") (#{maker.count}) 
+spacer
+reportlink('/', 'View Details')
mixin comment(cmt)
  div(style="margin-bottom:1px;border-bottom:1px solid #eeeeee;padding-left:20px;padding-right:20px;background-color:rgba(244, 244, 244, 0.5);padding-top:20px;padding-bottom:20px;")
    table(cellpadding="0", cellspacing="0", border="0", width="100%")
      tr
        td(width="30")
          img(src=imagebase + "person.png", style="width: 35px; height: 35px;", width="35", height="35", border="0", data-imagetype="External")
        td(width="10") &nbsp;
        td(style="font-weight:bold")= cmt.title
    table(cellpadding="0", cellspacing="0", border="0", width="100%")
      tr
        td(style="font-size:10px;") 
          span(color="#00cc00", style="color:#00cc00;font-weight:bold;") #{cmt.buyXStr}
          if cmt.anonymous == false
            span &nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
            span(color="#8fa4af", style="color: #8fa4af;") $#{cmt.amount} Deal
        if cmt.anonymous == false
          td(align="right", style="font-size:10px;color:#00cc00;font-weight:bold;", color="#00cc00") Won by #{cmt.winningVendor.label}
    div
      +darkparagraph(cmt.text)
    div(style="font-size:10px;color:#757575;", color="#757575") #{cmt.whenStr}
if comments && comments.length > 0
  +spacer
  +hline
  +spacer
  img(src=imagebase + "whatcustomersaresaying.png", alt="What customers are saying", style="width: 270px; height: 59px;", width="270", height="59", border="0", data-imagetype="External")
  each comment, index in comments
    +comment(comment)
  +spacer
  +spacer
  +reportlink('/', 'See More Comments')
  +spacer