p Hi #{contact.FirstName},
p We noticed that you had considered #{org.name} in a potential buying decision. Please help us help #{org.name} know what they can do better next time.
div(style="text-align:center; font-size:20px; font-weight:bold")
  span How was your overall experience with #{org.name}?
div(align="center", style="text-align:center;")
  - var buttonStyle = "padding-top:7px; padding-bottom: 7px; padding-left: 14px; padding-right: 14px; display:inline;text-align:center;color:white !important;background-color:#4CAF50;border:1px solid white;text-decoration:none;font-weight:400;border-radius:5px;font-size:21px;";
  div(align="center", style="text-align: center; margin-top:20px;")
    each val in [1, 2, 3, 4, 5, 6, 7]
      a(href!=surveyurl + "&a=%7B%22buyXRating%22%3A" + val + "%7D", style="text-decoration:none !important;", title=val)
        img(src=imagebase + "star.png", width=45, height=45)
  span(style="font-size:12px;") Poor
  span(style="font-size:12px;") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Excellent